.container::before, .container-section::before, .nav__list::before, .hero__content::before, .butger-slider__item::before, .team-acco__content::before, .menu-acco::before, .menu-acco__item::before, .reviews__list::before, .order__form::before, .order__form-row::before, .container::after, .container-section::after, .nav__list::after, .hero__content::after, .butger-slider__item::after, .team-acco__content::after, .menu-acco::after, .menu-acco__item::after, .reviews__list::after, .order__form::after, .order__form-row::after {
  content: "";
  display: table; }

.container::after, .container-section::after, .nav__list::after, .hero__content::after, .butger-slider__item::after, .team-acco__content::after, .menu-acco::after, .menu-acco__item::after, .reviews__list::after, .order__form::after, .order__form-row::after {
  clear: both; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: 700; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type="reset"], [type="submit"], button, html [type="button"] {
  -webkit-appearance: button; }

[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.no-js .owl-carousel {
  display: block; }

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: a;
  animation-name: a; }

@-webkit-keyframes a {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes a {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.fp-enabled body, html.fp-enabled {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  -ms-touch-action: none;
  touch-action: none; }

.fp-section {
  position: relative;
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  position: relative; }

.fp-scrollable, .fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 3;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translateZ(0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 2;
  left: 50%;
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul, .fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a, .fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li:hover a.active span, #fp-nav ul li a.active span, .fp-slidesNav ul li:hover a.active span, .fp-slidesNav ul li a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial,helvetica,sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav.fp-show-active a.active + .fp-tooltip, #fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell, .fp-responsive .fp-auto-height-responsive.fp-section, .fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

.fancybox-image, .fancybox-inner, .fancybox-nav, .fancybox-nav span, .fancybox-outer, .fancybox-skin, .fancybox-tmp, .fancybox-wrap, .fancybox-wrap iframe, .fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 6; }

.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-inner, .fancybox-outer {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px Helvetica\ Neue,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-iframe, .fancybox-image {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-next span, .fancybox-prev span {
  background-image: url(fancybox_sprite.png); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: .8;
  cursor: pointer;
  z-index: 9; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(fancybox_loading.gif) 50% no-repeat; }

.fancybox-close {
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px; }

.fancybox-close, .fancybox-nav {
  position: absolute;
  cursor: pointer;
  z-index: 7; }

.fancybox-nav {
  top: 0;
  width: 40%;
  height: 100%;
  text-decoration: none;
  background: transparent url(blank.gif);
  -webkit-tap-highlight-color: transparent; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 7;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

.fancybox-lock {
  width: auto; }

.fancybox-lock, .fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 4;
  background: url(fancybox_overlay.png); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

.fancybox-title {
  visibility: hidden;
  font: 13px/20px Helvetica\ Neue,Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-next span, .fancybox-prev span {
    background-image: url(fancybox_sprite@2x.png);
    background-size: 44px 152px; }
  #fancybox-loading div {
    background-image: url(fancybox_loading@2x.gif);
    background-size: 24px 24px; } }

body {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu-Light', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  position: relative; }

.wrapper {
  position: relative;
  overflow: hidden;
  min-width: 960px;
  height: 100vh; }

.maincontent {
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  transition: 1s;
  min-height: 650px; }

.section {
  height: 100%;
  height: 100vh;
  min-height: 650px; }

.container {
  margin: 0 auto;
  width: 940px;
  position: relative; }
  .container--header {
    position: static; }

.container-section {
  margin: 0 auto;
  width: 940px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  min-width: 960px; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.svg#lifehackmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont.svg#gagalinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-light-webfont.svg#ubuntulight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/ubuntu-regular-webfont.svg#ubunturegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.svg#ubuntumedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu-b-webfont.svg#ubuntubold") format("svg");
  font-weight: normal;
  font-style: normal; }

.section__title {
  font-size: 72px;
  font-family: 'Gagalin-Regular'; }

.text-block p {
  font-size: 14px;
  line-height: 1.8; }

.btn {
  display: inline-block;
  vertical-align: top;
  background: #E34F27;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 9px 16px;
  font-family: 'Ubuntu-Medium';
  transition: background .3s; }
  .btn:hover {
    background: #C1401D; }

.fixed-menu {
  position: fixed;
  top: 90px;
  right: 40px;
  z-index: 2; }

.fixed-menu__item {
  margin-bottom: 5px; }
  .fixed-menu__item.active .fixed-menu__link::before {
    width: 14px;
    height: 14px;
    opacity: 1; }
  .fixed-menu__item.active .fixed-menu__link::after {
    background: #0EFF00; }

.fixed-menu__link {
  display: block;
  width: 16px;
  height: 16px;
  position: relative; }
  .fixed-menu__link::before, .fixed-menu__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .fixed-menu__link::before {
    width: 0;
    height: 0;
    border: 1px solid #0EFF00;
    opacity: o;
    transition: .3s; }
  .fixed-menu__link::after {
    width: 6px;
    height: 6px;
    background: #09A600; }
  .fixed-menu__link:hover::before {
    width: 14px;
    height: 14px;
    opacity: 1; }
  .fixed-menu__link:hover::after {
    background: #0EFF00; }

.hero {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background: black url("../img/bg/hero-bg.jpg") no-repeat;
  background-size: cover; }
  .hero video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: black;
    -webkit-animation: rgba 2s 2s forwards;
    animation: rgba 2s 2s forwards; }
  @supports (object-fit: cover) {
    .hero video {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; } }
  .hero .container-section {
    position: absolute; }

@-webkit-keyframes rgba {
  from {
    background: black; }
  to {
    background: transparent; } }

@keyframes rgba {
  from {
    background: black; }
  to {
    background: transparent; } }

.header {
  padding-top: 12px; }

.header__logo {
  float: left;
  width: 33%; }

.logo {
  display: inline-block; }

.header__menu {
  float: left;
  width: 67%;
  padding: 16px; }

.nav {
  width: 84%;
  display: inline-block;
  vertical-align: middle; }

.nav__list {
  width: 100%; }

.nav__item {
  white-space: nowrap;
  margin-right: 13px;
  display: block;
  float: left; }
  .nav__item:last-child::after {
    display: none; }
  .nav__item::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-left: 15px;
    transition: background .3s; }
  .nav__item:hover .nav__link {
    color: #09A600; }
  .nav__item:hover::after {
    background: #09A600; }

.nav__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: 'Ubuntu-Medium';
  transition: .3s; }

.header__order-link {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0; }

.hero__left {
  float: left;
  width: 50%; }

.hero__img {
  display: inline-block;
  max-width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.hero__right {
  float: left;
  width: 50%;
  padding-top: 115px; }

.hero__title {
  color: #f9b43b;
  margin-bottom: 12px; }

.hero__desc {
  font-size: 65px;
  color: #fff;
  text-transform: lowercase;
  font-family: 'Lifehack-Medium';
  line-height: 1em; }

.arrow {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -15px;
  transition: .3s; }
  .arrow:hover .arrow__icon {
    top: -15px;
    width: 35px;
    height: 35px; }

.arrow__icon-wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.arrow__icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
  transition: .3s; }

.best {
  background: url("../img/bg/best.jpg") 50% no-repeat;
  background-size: cover;
  text-align: center; }

.best__title {
  color: #2f3234;
  margin-bottom: 80px; }

.best__list {
  font-size: 0; }
  .best__list * {
    font-size: 14px; }

.best__item {
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  padding: 0 10px; }

.best__icon {
  height: 100px;
  width: 100px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px; }

.best__icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%; }

.best__icon-image {
  width: 100%;
  height: 100%; }

.best__item-title {
  font-size: 24px;
  font-family: 'Lifehack-Medium';
  color: #2f3234;
  margin-bottom: 20px; }

.burger {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9b33b+0,ea8c38+33,ea8c38+66,f9b33b+100 */
  background: #f9b33b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9b33b 0%, #ea8c38 33%, #ea8c38 66%, #f9b33b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9b33b 0%, #ea8c38 33%, #ea8c38 66%, #f9b33b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9b33b 0%, #ea8c38 33%, #ea8c38 66%, #f9b33b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b33b', endColorstr='#f9b33b',GradientType=0 );
  /* IE6-9 */ }

.burger-slider-wrapper {
  position: relative; }

.burger-slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10; }
  .burger-slider__btn:hover .burger-slider__arrow {
    width: 40px; }

.burger-slider__btn--next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: -45px; }

.burger-slider__btn--prev {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -45px; }

.burger-slider__arrow {
  color: #fff;
  display: block;
  height: 30px;
  width: 35px;
  transition: .3s; }

.butger-slider__item {
  position: relative;
  padding-bottom: 85px; }

.burger-ingredients {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  background: rgba(227, 80, 40, 0.4);
  width: 90px;
  height: 90px;
  border-radius: 5px;
  z-index: 10;
  transition: .5s; }
  .burger-ingredients:hover {
    background: #E34F27; }
    .burger-ingredients:hover .burger-ingredients__dropdown {
      left: 100%;
      opacity: 1; }

.burger-ingredients__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.burger-ingredients__icon-pic-wrap {
  margin: 0px 0px 0px 0px; }

.burger-ingredients__icon-pic {
  width: 46px;
  height: 45px;
  display: block; }

.burger-ingredients__icon-text {
  color: #fff;
  font-size: 14px;
  font-family: 'Gagalin-Regular'; }

.burger-ingredients__dropdown {
  width: 270px;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  padding: 20px;
  left: -9999px;
  opacity: 0;
  transition: opacity .5s;
  z-index: 10; }
  .burger-ingredients__dropdown::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -29px;
    width: 30px; }

.burger-ingredients__table {
  width: 100%; }

.burger-ingredients__table-cell {
  vertical-align: middle;
  padding: 8px 0; }

.burger-ingredients__table-cell-icon {
  max-width: 45px;
  max-height: 50px;
  display: inline-block; }

.burger-ingredients__table-cell-text {
  font-family: 'Ubuntu-Bold'; }

.burger-ingredients__table-cell-text2 {
  font-family: 'Ubuntu-Medium'; }

.burger-weight {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .5; }

.burger-weight__measure {
  background: url("../img/icons/kkal.svg") 50% no-repeat;
  width: 65px;
  height: 60px;
  position: relative;
  text-align: center; }

.burger-weight__amount {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  font-family: 'Gagalin-Regular'; }

.burger-weight__title {
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: 'Gagalin-Regular'; }

.burger-slider__left {
  float: left;
  width: 50%;
  padding-top: 95px; }

.burger-slider__pic {
  display: inline-block;
  max-width: 100%;
  height: auto; }

.burger-slider__right {
  float: left;
  width: 50%; }

.burger__title {
  color: #fff;
  line-height: 1.1em;
  margin-bottom: 15px; }

.burger-slider__text {
  color: #fff;
  margin-bottom: 18px;
  max-height: 175px;
  overflow: auto; }

.burger-slider__options-price {
  display: inline-block;
  vertical-align: bottom;
  color: #E35028;
  font-family: 'Gagalin-Regular'; }

.burger-slider__options-price-amount,
.burger-slider__options-price-currency {
  display: inline-block;
  line-height: 1em; }

.burger-slider__options-price-amount {
  font-size: 72px; }

.burger-slider__options-price-currency {
  font-size: 30px; }

.burger__order-link {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 32px; }

.team {
  background: #454545 url("../img/bg/team.jpg") 50% no-repeat;
  background-size: auto 100%;
  position: relative;
  color: white; }

.team__section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 49, 51, 0.93);
  padding: 5% 2% 0% 7%; }

.team-acco__item {
  margin-bottom: 40px; }
  .team-acco__item.active .team-acco__trigger {
    color: #f9b43b; }
    .team-acco__item.active .team-acco__trigger::before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }

.team-acco__trigger {
  color: #fff;
  font-size: 14px;
  font-family: 'Gagalin-Regular';
  text-decoration: none;
  position: relative;
  display: block; }
  .team-acco__trigger::before {
    content: "";
    display: block;
    position: absolute;
    left: -19px;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 7px solid #f9b43b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0 solid transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .3s; }

.team-acco__content {
  padding-top: 14px;
  display: none; }

.team-acco__pic {
  float: left;
  text-align: left;
  width: 20%;
  min-width: 100px; }

.team-acco__pic-img {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  background-image: url("../img/content/teammate.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%; }

.team-acco__text {
  float: left;
  width: 70%;
  max-height: 250px;
  overflow: auto;
  padding-left: 10px; }

.team-acco__text-title {
  font-family: 'Ubuntu-Bold';
  font-size: 14px;
  color: #fff;
  margin-bottom: 14px; }

.team-acco__text-content {
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  color: #fff; }

.team__title {
  color: #f9b43b;
  margin-bottom: 12%; }

.menu {
  background: url("../img/bg/menu.jpg") 50% no-repeat;
  background-size: cover;
  position: relative; }

.menu__title {
  color: #fff;
  position: absolute;
  top: 10%;
  left: 10%; }

.menu-acco {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; }

.menu-acco__item {
  float: left;
  height: 100%; }
  .menu-acco__item.active .menu-acco__trigger-text {
    color: #f9b43b; }

@-webkit-keyframes width {
  from {
    width: 0; }
  to {
    width: 550px; } }

@keyframes width {
  from {
    width: 0; }
  to {
    width: 550px; } }

.menu-acco__trigger {
  float: left;
  position: relative;
  height: 100%;
  display: block;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.menu-acco__trigger--pic1 {
  background-image: url("../img/bg/menu/meats.jpg"); }

.menu-acco__trigger--pic2 {
  background-image: url("../img/bg/menu/vegans.jpg"); }

.menu-acco__trigger--pic3 {
  background-image: url("../img/bg/menu/diets.jpg"); }

.menu-acco__trigger-text {
  color: #fff;
  font-family: 'Gagalin-Regular';
  font-size: 40px;
  position: absolute;
  top: 50%;
  height: 80px;
  margin-top: -40px;
  white-space: nowrap;
  width: 650px;
  left: 50%;
  margin-left: -312px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-align: center; }

.menu-acco__content {
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  float: left;
  height: 100%;
  color: #fff;
  overflow: hidden; }

.menu-acco__content-text {
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  color: #fff;
  width: 550px;
  padding: 60px 30px;
  line-height: 1.8; }

.reviews {
  background: #000; }

.reviews__list {
  height: 100%; }

.reviews__item {
  height: 50%;
  width: 25%;
  float: left; }

.review {
  width: 100%;
  height: 100%;
  position: relative; }
  .review:hover .review__hover {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.review__pic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .review__pic--1 {
    background-image: url("../img/content/reviews/1.jpg"); }
  .review__pic--2 {
    background-image: url("../img/content/reviews/2.jpg"); }
  .review__pic--3 {
    background-image: url("../img/content/reviews/3.jpg"); }
  .review__pic--4 {
    background-image: url("../img/content/reviews/4.jpg"); }
  .review__pic--5 {
    background-image: url("../img/content/reviews/5.jpg"); }
  .review__pic--6 {
    background-image: url("../img/content/reviews/6.jpg"); }
  .review__pic--7 {
    background-image: url("../img/content/reviews/7.jpg"); }
  .review__pic--8 {
    background-image: url("../img/content/reviews/8.jpg"); }

.review__hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.7);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
  transition: .5s;
  padding: 17% 12% 0; }

.review__hover-title {
  color: white;
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  margin-bottom: 25px; }

.review__hover-text {
  color: white;
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  margin-bottom: 13px; }

.review__view {
  display: inline-block;
  background-color: #2F3133;
  text-decoration: none;
  padding: 10px 17px;
  border-radius: 5px;
  font-family: 'Ubuntu-Medium';
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  transition: .3s; }
  .review__view:hover {
    background-color: #1F2022; }

.order {
  background: url("../img/bg/order.jpg") 50% no-repeat;
  background-size: cover; }

.order__title {
  color: #f9b43b;
  margin-bottom: 12px;
  text-align: center; }

.order__form {
  margin-left: -5%; }

.order__form-col {
  float: left;
  width: 45%;
  margin-left: 5%; }

.order__form-row {
  margin-bottom: 16px; }

.order__form-row--two {
  margin-left: -20px; }
  .order__form-row--two .order__form-block {
    float: left;
    width: calc(100% / 2 - 20px);
    margin-left: 20px; }

.order__form-row--four {
  margin-left: -20px; }
  .order__form-row--four .order__form-block {
    float: left;
    width: calc(100% / 4 - 20px);
    margin-left: 20px; }

.order__form-block {
  display: block; }

.order__form-label {
  margin-bottom: 17px;
  font-family: 'Ubuntu-Light';
  color: #fff;
  font-size: 14px;
  transition: .3s; }
  .order__form-label:hover {
    color: #09A600; }

.order__form-input {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  width: 100%; }
  .order__form-input:focus {
    background: #DFF9F8; }
  .order__form-input--textarea {
    height: 110px; }

.order__radio-block {
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }

.order__radio-input {
  position: absolute;
  top: 0;
  left: -9999px; }
  .order__radio-input:checked + .order__radio-fake::after {
    width: 8px;
    height: 8px; }
  .order__radio-input:checked ~ .order__radio-title {
    color: #09A600; }

.order__radio-fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .order__radio-fake::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #e35028;
    background: #09A600;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .3s; }

.order__radio-block--checkbox .order__radio-fake {
  border-radius: 0; }

.order__radio-block--checkbox .order__radio-fake:after {
  background: url("../img/icons/check2.svg") 50% no-repeat transparent;
  background-size: contain;
  height: 9px; }

.order__radio-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
  transition: .3s; }
  .order__radio-title:hover {
    color: #09A600; }

.order__order-submit, .order__order-reset {
  vertical-align: middle;
  margin-right: 20px;
  border: 0;
  cursor: pointer; }

.order__order-reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
  transition: .3s; }
  .order__order-reset:hover {
    background: transparent;
    color: #09A600; }

.yandex-map {
  width: 100%;
  height: calc(100% - 60px); }

.footer {
  background: url("../img/bg/footer.jpg") center bottom no-repeat;
  height: 60px;
  background-size: cover;
  padding-top: 10px; }

.footer__left {
  float: left;
  width: 50%; }

.footer__address {
  color: #fff;
  font-size: 14px; }

.footer__phone {
  color: #DC4E27;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Ubuntu-Bold';
  display: inline-block; }

.footer__phone-icon {
  display: inline-block;
  width: 12px;
  height: 11px;
  margin-right: 10px; }

.footer__right {
  float: left;
  width: 50%;
  text-align: right;
  padding-top: 10px; }

.socials {
  position: relative;
  top: 50%; }

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; }

.socials__link {
  display: inline-block;
  max-height: 20px;
  max-width: 20px;
  opacity: .3;
  transition: .3s;
  font-size: 0; }
  .socials__link:hover {
    opacity: 1; }
  .socials__link * {
    font-size: 16px; }

.socials__icon {
  display: block;
  width: 20px;
  height: 20px; }

.full-review {
  display: none;
  padding: 25px 20px;
  position: relative; }

.full-review__close {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.7;
  transition: .3s; }

.full-review__title {
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px; }

.full-review__content {
  font-family: 'Ubuntu-Light';
  font-size: 14px; }

/* status popup */
.status-popup {
  width: 240px;
  display: none; }

.status-popup__inner {
  padding: 20px;
  text-align: center; }

.status-popup__massage {
  margin-bottom: 20px;
  font-size: 14px; }

.error-massage {
  color: #e35028; }

.fancybox-overlay {
  background: rgba(47, 50, 52, 0.92); }

.fancybox-close {
  display: none; }

/*# sourceMappingURL=main.css.map */