.section__title {
	font-size: 72px;
	font-family: 'Gagalin-Regular';
}

.text-block p {
	font-size: 14px;
	line-height: 1.8;
}

.btn {
	display: inline-block;
	vertical-align: top;
	background: #E34F27;
	font-size: 13px;
	text-transform: uppercase;
	color: $white;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	padding: 9px 16px;
	font-family: 'Ubuntu-Medium';
	transition: background .3s;

	&:hover {
		background: #C1401D;
	}
}